@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Montserrat ,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: rgb(12, 12, 12);
  color: aliceblue;
  background: url('../layered-steps-haikei.svg');
  background-repeat: no-repeat space round;
  background-size: cover;
  background-position: center center fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: rgb(11, 28, 255);
}
